<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="/css/styleOmisoka.css">
    <title>202X</title>
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
</head>
<body>
    
    <div><h1 id="CurrentYear"></h1></div>
    <div class="Wrapper">
    <div id="BoxImage" class="BoxImage"style="background-image:url('images/oseticover.png') ;">
    <div class="BeforAfter"style="float:left;"><img  id="kamaboko"class="kamaboko"src="images/kamaboko.png" alt=""onClick=guzaiTouch0();></div>
    <div class="BeforAfter"style="float:left;"><img  id="kurikinton"class="kurikinton"src="./images/kurikinton.png" alt=""onClick=guzaiTouch1();></div>
    <div class="BeforAfter"style="float:left;"><img  id="tadukuri"class="tadukuri"src="./images/tadukuri.png" alt=""onClick=guzaiTouch2();></div>
    <div class="BeforAfter"style="float:left;"><img  id="kuromame"class="kuromame"src="./images/kuromame.png" alt=""onClick=guzaiTouch3();></div>
    <div class="BeforAfter"style="float:left;"><img  id="kouhakunamsu"class="kouhakunamsu"src="./images/kouhakunamsu.png" alt=""onClick=guzaiTouch4();></div>
    <div class="BeforAfter"style="float:right;"><img  id="kobumaki"class="kobumaki"src="./images/kobumaki.png" alt=""onClick=guzaiTouch5();></div>
    <div class="BeforAfter"style="float:right;"><img  id="kazunoko"class="kazunoko"src="./images/kazunoko.png" alt=""onClick=guzaiTouch6();></div>
    <div class="BeforAfter"style="float:right;"><img  id="kurimusiyoukan"class="kurimusiyoukan"src="./images/kurimusiyoukan.png" alt=""onClick=guzaiTouch7();></div>
    <div class="BeforAfter"style="float:left;"><img  id="nisime"class="nisime"src="./images/nisime.png" alt=""onClick=guzaiTouch8();></div>
    <div class="BeforAfter"style="float:left;"><img  id="endimg"class="endimg"src="./images/endimg.png" alt=""onClick=guzaiTouch9();></div>
 
</div>
</div>
<script src="/script/osyougatu2023.js"></script>
</body>

</html> 